pandas==2.0.3
torch==2.3.0
alembic 
aniso8601 
biotite 
blosum 
docker 
fair-esm 
fasteners 
graphene 
graphql-core 
graphql-relay 
GridDataFormats 
gunicorn 
lmdb 
Mako 
mda-xdrlib 
MDAnalysis 
mlflow 
mmtf-python 
mrcfile 
pdb-tools 
querystring-parser 
smmap 
biopython==1.81
git+https://github.com/microsoft/protein-sequence-models.git
git+https://github.com/sid-betalol/evodiff.git
